<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.dolmen.sid">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EjecutaActividad"
            android:label="@string/title_activity_ejecuta_actividad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DetalleActividad" android:screenOrientation="portrait"/>
        <activity android:name=".ListaActividad" android:screenOrientation="portrait"/>
        <activity android:name=".CensoCarga" android:screenOrientation="portrait"/>
        <activity android:name=".CrearElemento" android:screenOrientation="portrait"/>
        <activity android:name=".GenerarActividadOperativa" android:screenOrientation="portrait"/>
        <activity android:name=".ActualizarElemento" android:screenOrientation="portrait"/>
        <activity android:name=".ReporteDano" android:screenOrientation="portrait"/>
        <activity android:name=".SubMenuCensoTecnico" android:screenOrientation="portrait"/>
        <activity
            android:name=".CensoTecnico"
            android:label="@string/titulo_censo_tecnico"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu" android:screenOrientation="portrait"/>
        <activity
            android:name=".ConfigurarArea"
            android:label="@string/titulo_perfil_usuario" />
        <activity android:name=".Parametros"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:label="@string/titulo_actividad_login" />
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>